html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* From Fabis CSS */

#top_menu .top_menu_item a {line-height: 33px; width: 100%; text-decoration: none; color: #ddd;},
#top_menu .top_menu_item a:link {text-decoration: none; color: #ddd;},
#top_menu .top_menu_item a:visited { text-decoration:none; color:#ddd; }
#top_menu .top_menu_item a:hover { text-decoration:none; color: white; color:#fff; font-weight: normal;}
#top_menu .top_menu_item a:active { text-decoration:none; color:#fff; font-weight: normal;}
#top_menu .top_menu_item a:focus { text-decoration:none; color: white; color:#fff; font-weight: normal;}

table.clean {
    border: none;
    width: auto;
}

body {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font: 12px/27px Arial,sans-serif;
}

#top_menu {
    background-color: #222222;
    color: #cccccc;
}

#top_menu .top_menu_item { 
    background-color: #222222;
    float: left;
    padding: 3px 10px;
}

#top_menu .top_menu_item:hover { 
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
}   

.clear {
    clear: both;
}

.float_left {
	float: left;
}

#main {
    width: 970px;
    margin: 30px auto;
}

#main #header #header_left {
    width: 350px;
    float: left;
}

#main #header #header_right {
    border-left: 1px solid #222222;
    float: left;
    width: 590px;
    padding-left: 30px;
    padding-top: 30px;
    height: 84px;
    margin: 10px 0;
}

.dictionary_entry .dictionary_word {
    color: #222222;
    font-size: 1.2em;
    float: left;
}

.dictionary_entry .dictionary_sound {
    color: #888888;
    float: left;
    font-size: 1.1em;
    /* border-left: 1px solid #888888; */
    /* border-right: 1px solid #888888; */
    padding: 0 10px;
    margin: 0 10px;
}

.dictionary_entry .dictionary_description {
    color: #222222;
}


input[type=button],input[type=submit] {
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 29px;
	line-height: 27px;
	min-width: 54px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	width: 94px;
	margin: 3px 5px;
}

input[type=button].small,input[type=submit].small {
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 11px;
	
	min-width: 15px;
	padding: 0px;
	text-align: center;
	margin: 0px 0px;
	width: auto;
	height: auto;
}

.magic_tag {
	border: none;
	font-family: monospace;
	width: 20px;
	color: #000000;
	font-weight: bold;
	font-size: 1.1em;
}

.magic_tag:focus {
	border: 1px solid #d3d3d3;
}

input[type=button]:hover,input[type=submit]:hover {
	color: #444;
	border-color: #888888;
}

.textarea {
	padding: 4px;
	width: 400px;
	height: 150px;
}

.step {
	font-size: 10em;
	line-height: 1em;
	margin-right: 50px;
	color: #d3d3d3;
}

.error {
	background-color: #ff9999;
	color: #000000;
	padding: 5px;
	border: 1px dashed #ff3333;
}

hr {
	color: #d3d3d3;
	background-color: #d3d3d3;
	height: 1px;
	margin: 5px 0;
}


/* From Grails AutoGenerated */
#main a:link, a:visited, a:hover, a:active {
    color: #000;
    text-decoration: underline;
}

h1 {
    color: #000;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 12px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #D5D5D5;
    margin-top: 5px;
}

.menuButton {
    font-size: 12px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    width: 970px;
    border-collapse: collapse;
}
tr {
    border: 1px solid #D5D5D5;
    background-color: #FFF;
}
thead tr {
	border: 1px solid #D5D5D5;
}
td, th {
    font: 12px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
}
tbody td {
	background: #FFF;
}
th {
    color: #000;
    font-weight: bold;
    line-height: 17px;
    border-top: 1px solid #D5D5D5;
    background-color: #F2F2F2;
}
th a:link, th a:visited, th a:hover, th a:active {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    display: block;
    padding-right: 5px;
    font-size: 12px;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
	border: 1px solid #D5D5D5;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #000;
    font-size: 12px;
    margin-top: 15px;
    padding-left: 10px;
    padding-top: 2px;
    height: 24px;
    overflow: hidden;
}
.buttons input {
	border: none;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    width: 90px;
    font-weight: bold;
    height: 16px;
    overflow: visible;
    margin-left: -5px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 18px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 18px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 18px;
}